<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<title>Teh Bst Site In Teh Wrld! - Aktualności</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
   	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="Stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<center>
		
	
	<div id="MENU">
		<div id="ELEMENTY_MENU">
			<b>
                <a class="link" href="">Wpisy</a>
                {% if zalogowany == "True" %}
                    <a class="link" href="dodawanie">Dodaj wpis</a>
                    <a class="link" href="logout">Wyloguj</a>
                {% else %}
                    <a class="link" href="login">Zaloguj</a>
                {% endif %}
            </b>
		</div>
	</div>
	<div id="TRESC">
		<div id="TRESC_GLOWNA">	
			<!--<div class="wpis">
				<div class="wpis_tresc">SELECT * FROM Aktualnosci</div>
				<div class="wpis_autor">Dodane przez: Patryk 2014-01-20 17:28:32</div>
			</div>-->
            {% for wiersz in wszystkie_wpisy %}
                <div class="wpis">
                    <div class="wpis_tresc">
                        {{ wiersz[0] }}
                    </div>
                    <div class="wpis_autor">
                        Dodane przez: {{ wiersz[1] }} {{ wiersz[2] }}
                    </div>
                </div>
            {% endfor %}
		</div>
	</div>
	</center>
</body>
</html>
