<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<title>Teh Bst Site In Teh Wrld! - Aktualności</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
   	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="Stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<center>
		
	
	<div id="MENU">
		<div id="ELEMENTY_MENU">
			<b>
			    <a class="link" href="../wsgi">Wpisy</a>
                {% if zalogowany == "True" %}
                    <a class="link" href="dodawanie">Dodaj wpis</a>
                    <a class="link" href="logout">Wyloguj</a>
                {% else %}
                    <a class="link" href="login">Zaloguj</a>
                {% endif %}
            </b>
		</div>
	</div>
	<div id="TRESC">
		<div id="TRESC_GLOWNA">
            <center>
			<form method="POST" action="doLogin">
            <table cellpadding="2" cellspacing="0" width="180">

            <tr><td><br></td></tr>
            <tr><td width="50">Login:&nbsp</td><td><input type="text" name="login" maxlength="32"></td></tr>
            <tr><td width="50">Hasło:&nbsp</td><td><input type="password" name="haslo" maxlength="32"></td></tr>
            <tr><td align="center" colspan="2"><input type="submit" value="Zaloguj"><br></td></tr>
            </table>
            </form>
            </center>
		</div>
	</div>
	</center>
</body>
</html>
