<!DOCTYPE html>
<html>
    <head>
        <title>Książki o Pythonie</title>
    </head>
    <body>
        <h1>Lista książek do poduszki</h1>
        <p>Oto lista książek, która może cię zaciekawić.
           Kliknij na tytuł, żeby dowiedzieć się więcej na temat danej książki.</p>
        <ul>
        {% for item in lista %}
            <li><a href="{{ url_for('book', book_id=item['id']) }}">{{ item['title'] }}</a></li>
        {% endfor %}
        </ul>
    </body>
</html>