<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        {{ detale['title'] }}<br/>
        {{ detale['isbn'] }}<br/>
        {{ detale['author'] }}<br/>
        {{ detale['publisher'] }}<br/>
    </body>
</html>